

/* ---General settings--- */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --custom-red: #D6000D;
    --custom-grey: #3a3a3a;
}

* {
    font-family: 'Poppins';f
    margin: 0;
    padding: 0;
}

li a,
li a:hover {
    color: unset;
    text-decoration: unset;
}

/* --- Header --- */
.content-header {
    align-items: center;
    justify-content: space-between;
}

.h-logo h1 {
    color: var(--custom-red);
    font: normal normal bold 40px/48px Righteous;
}

.h-nav ul {
    justify-content: center;
    align-items: center;
}

.content-header li.nav-item {
    padding: 0 12px;
    color: var(--custom-grey);
}

.content-header li.nav-item:not(.login):hover {
    cursor: pointer;
    color: black;
}

.h-nav .nav-item.login button {
    background: var(--custom-red);
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    transition: .25s;
}

.h-nav .nav-item.login button:hover {
    background: #d1212de7;
}